@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap&family=Cedarville+Cursive&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.cedarville-cursive-regular {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}



:root {
  --primary-color: #E6533C;
  --secondary-bg-color: #222222;
  --text-light: white;
  --text-dark: rgba(255, 255, 255, 0.5);
  --table-border-color: rgba(255, 255, 255, 0.1);
  --bg-gradient-color: linear-gradient(180deg, rgb(39, 39, 39), rgba(39, 39, 39, 0) 100%)
}

/* common styles */

.text-primary {
  color: var(--text-light);
}

.text-secondary {
  color: var(--text-dark);
}

.btn-primary {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-light);
  font-size: 18px;
  font-weight: 600;
  padding: 16px 40px;
  border-radius: 39px;
  margin-right: 10px;
  cursor: pointer;


}

.btn-secondary {
  background-color: transparent;
  border: 1px solid var(--text-dark);
  color: var(--text-light);
  font-weight: bold;
  padding: 16px 40px;
  border-radius: 39px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}


/* ------------------- */

body {
  background-color: black;
  color: var(--text-light);
  font-family: 'Inter';
}

.container {
  max-width: 1200px;
  /* margin: 50px 20px; */
  margin-inline: auto;
  /* padding-inline: 20px; */
  overflow: hidden;
  /* border: 1px solid white; */
}

.bottom-space{
  margin-bottom: 60px;
}


/* ========== Header Style ===========*/


header {
  padding-top: 20px;
  background: linear-gradient(180deg, rgb(39, 39, 39), rgba(39, 39, 39, 0) 100%);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#nav-title {
  font-size: 36px;
  font-weight: 900;
  font-style: italic;
  line-height: 120%;
  color: var(--primary-color);
}

.nav-items {
  display: flex;
  border: 1px solid var(--text-dark);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.nav-items li {
  list-style-type: none;
  margin: 5px 20px;
  font-weight: bold;
}

.nav-items li:first-child {
  background-color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 45px;
  margin-left: 5px;
}

.mobile-menu {
  display: none;
  font-size: 26px;
}


/* -------- Hero section----------- */

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin: 80px 0;
}

.hero-text {
  width: calc((100% - 80px)/2);
}

.hero-text>h2 {
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 28px;
}

.cursive {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: italic;
  font-size: 120px;
}


.hero-description {
  margin-bottom: 28px;
  line-height: 24px;
}


/* -------------- */
.hero-image {
  /* width: calc((100% - 80px)/2); */
  max-width: 349px;
  max-height: 580px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image>img {
  /* width: 60%; */
  width: 100%;
}

.badge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px 10px;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  width: 180px;
  height: 95px;
}

.badge h3 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1px;
}

.badge p {
  font-size: 14px;
  font-weight: 300;
  color: var(--text-dark);
  margin: 1px;
}

#badge1 {
  position: absolute;
  top: 180px;
  right: 10px;
}

#badge2 {
  position: absolute;
  bottom: 60px;
  left: -10px;
}


/* ========== Change your habit section ========= */

.change-habits {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section-heading {
  margin-bottom: 60px;
}

.section-heading>h2 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 14px;
}

.section-heading>p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
}

.factors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.factor-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* border: 1px solid white; */
}


.factor-card img {
  width: 100%;
  border-radius: 50%;
  border: 3px solid var(--text-dark);
  margin-bottom: 30px;
}


.factor-card>h3,
p {
  margin-bottom: 10px;
}

.factor-card>h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}


/* ------------ Run------------ */
.run {
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  padding: 30px;
  border-radius: 20px;
}

.run-left {
  width: 40%;
}

.outer-wrapper {
  width: 366px;
  height: 312px;
  overflow: hidden;
  border-radius: 18px;
  margin: 10px;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  transform: translate(-170px, 120px);
}

.img-wrapper img {
  object-fit:cover;
  border-radius: 20px;
  transform: scale(2.4);
}

/* ---------- BMI heading -------*/
.bmi-heading{
  padding-left: 150px;
  padding-right: 120px;
}

/* ---------- BMI Chart--------- */

.bmi-chart-wrapper{
  background-color: var(--secondary-bg-color);
  padding: 58px 0;
}

.bmi-parent{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 50px;
}

.bmi-chart-heading{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 14px;
  columns: var(--text-light);
}
.bmi-chart table, .bmi-chart th, .bmi-chart td{
  border: 1px solid var(--table-border-color);
  border-collapse: collapse;
}

.bmi-chart> table{
  margin: 50px 0;
}

td, th{
  padding: 13px 18px;
  text-align: start;
}

td{
  color: var(--text-dark);
}

.calculate-bmi>.description{
  font-size: 14px;
  color: var(--text-dark);
  line-height: 24px;
  letter-spacing: 0.3px;
}


.bmi-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  color: var(--text-light);
  margin: 30px 5px 30px 0;
}

.bmi-form>*{
  color: var(--text-dark);
  background-color: var(--table-border-color);
  border: none;
  border-radius: 10px;
  padding: 16px;
}

.bmi-form input::placeholder, select{
  font-size: 16px;
  color: var(--text-dark);
}
select option {
  margin: 40px;
  padding: 100px;
  background: var(--secondary-bg-color);
  border: none;
  border-radius: 20px;
  color: #fff;
  /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); */
}

.bmi-form:scope{
  border: none;
  outline: none;
}


#activity-input{
  grid-column: span 2;
}


/* ====== Meet our team========== */

.team-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.team-container .section-heading{
  text-align: center;
}

.trainers{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
  gap: 20px;
  background-color: var(--secondary-bg-color);
  padding: 20px;
  border-radius: 18px;
}

.trainer-card{
  max-width: 380px;
  max-height: 280px;
  position: relative;
}
.trainer-card>img{
  width: 100%;
  height: 100%;
  border-radius: 18px;
  object-fit: cover;
  object-position: 50% 50%;
}

.trainer-card h3 {
  position: absolute;
  color: var(--text-light);
  font-size: 20px;
  font-weight: 600;
  bottom: 12%;
  left: 8%;
}

.trainer-card p {
  position: absolute;
  color: var(--text-dark);
  font-size: 14px;
  bottom: 2%;
  left: 8%;
}






/* ---------- Footer------------ */

footer{
  background-color: var(--secondary-bg-color);
  padding: 50px 0px 30px 0px;
}

.footer-cols{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 70px;
  align-items: self-start;
  /* justify-content: center; */
}

.footer-title {
  font-size: 70px;
  font-weight: 900;
  font-style: italic;
  line-height: 120%;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.footer-cols .text-secondary{
  line-height: 24px;
  letter-spacing: 0.3px;
  font-size: 14px;
}

/* --- footer menu ------*/

.footer-menu ul{
  list-style-type: none;
}

.footer-menu li{
  color: var(--text-dark);
  font-size: 20px;
  margin: 10px 0;
  cursor: pointer;
}

.footer-menu> h3{
  font-size: 28px;
  line-height: 120%;
  font-weight: 500;
  margin-bottom: 20px;
}


.copyright{
  text-align: center;
}


.copyright hr{
  border-color: #222222;
  margin:70px 0 32px 0;
}

